{% extends "base.html" %}
{% load static %}
{% block contenido %}

<section class="flex flex-col items-center justify-center h-screen">
    <div class="bg-white dark:bg-slate-800 shadow-xl rounded-2xl p-12 text-center">
        <h1 class="text-8xl font-[Times New Roman]">Login form!</h1>
        <form class='text-center mt-12' action='/users/login/' method='post'>
            {% csrf_token %}
            {{ form }} {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}
            <button class="mt-4 px-6 py-2 bg-pink-400 text-white font-semibold rounded-lg hover:bg-pink-500" type="submit">Submit form!</button>
        </form>
    </div>
</section>

<style>

  input,
  select,
  textarea {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid;
  }

</style>

{% endblock contenido %}